spring:
  application:
    name: user-service
  profiles:
    default: dev
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:user_db}
    username: ${DB_USER:user_user}
    password: ${DB_PASSWORD:user_pwd}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    open-in-view: false
management:
  endpoints:
    web:
      exposure:
        include: health,info
server:
  port: ${PORT:8081}
jwt:
  secret: ${JWT_SECRET:change_this_super_secret_key_at_least_256_bits}
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
