spring:
  application:
    name: device-service
  profiles:
    default: dev
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    locations: classpath:db/migration/{vendor}
management:
  endpoints:
    web:
      exposure:
        include: health,info
server:
  port: ${PORT:8082}
jwt:
  secret: ${JWT_SECRET:change_this_super_secret_key_at_least_256_bits}
app:
  security:
    enabled: ${APP_SECURITY_ENABLED:true}
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
