spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:devices_db}
    username: ${DB_USER:device_user}
    password: ${DB_PASSWORD:device_pwd}
  jpa:
    properties:
      hibernate:
        show_sql: true
