version: "3.9"
services:
  user-service:
    build: .
    container_name: user-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-db:5432/userdb
      - SPRING_DATASOURCE_USERNAME=user_service
      - SPRING_DATASOURCE_PASSWORD=user_pass
      - JWT_SECRET=${JWT_SECRET:-dev_secret_change_me}
    depends_on:
      - user-db
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.users.rule=PathPrefix(`/users`)"
      - "traefik.http.routers.users.entrypoints=web"
      - "traefik.http.services.users.loadbalancer.server.port=8082"
      - "traefik.http.middlewares.users-stripprefix.stripprefix.prefixes=/users"
      - "traefik.http.routers.users.middlewares=users-stripprefix"
  user-db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=userdb
      - POSTGRES_USER=user_service
      - POSTGRES_PASSWORD=user_pass
    volumes:
      - user_data:/var/lib/postgresql/data
  traefik:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
volumes:
  user_data:
