version: '3.8'

services:
  user-db:
    image: postgres:16-alpine
    container_name: user-postgres-db
    environment:
      POSTGRES_USER: user_user
      POSTGRES_PASSWORD: user_pwd
      POSTGRES_DB: user_db
    ports:
      - "5434:5432"
    volumes:
      - user_data:/var/lib/postgresql/data

volumes:
  user_data:
